<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Lunch Time</title>
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <link rel="icon" href="/images/logo.ico" type="image/x-icon">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet" media="screen">
  </head>