<template name="aboutPage">
    <div class="centeredContent">
        <p>
            This is a personal web site used to learn <a href="https://www.meteor.com/">Meteor.js</a> and is not meant
            for production. You can read my <a href="http://www.federicosilva.net/search/label/meteor.js">blog post
                series</a> about the development of this application.
        </p>

        <p>
            The source code is available in <a href="https://bitbucket.org/farmas/lunch-time">Bitbucket</a>.
        </p>
        <p>
            Frameworks and libraries used:
            <ul>
                <li>Node</li>
                <li>Meteor</li>
                <li>MongoDB</li>
                <li>Blaze Template Engine</li>
                <li>Bootstrap</li>
                <li>Knockout</li>
                <li>Meteor Accounts for authentication</li>
                <li>Google OAuth</li>
                <li>Send Email</li>
                <li>Toastr for UI notifications</li>
                <li>Postal for client pub/sub</li>
                <li>Dragula and interact.js for drag and drop support</li>
            </ul>
        </p>
    </div>
</template>