<template name="orderViewMobilePage">
    <div class="orderViewMobilePage">
        {{#unless Template.subscriptionsReady}}
            <div class="loading">
              <img src="/images/loading.gif" />
            </div>
        {{/unless}}

        {{#each meal in meals}}
        <div class="panel panel-default">
          <div class="panel-heading">{{meal.name}}</div>
          <ul class="list-group">
            {{#each item in meal.items}}
                <li class="list-group-item">
                    {{#if isRecipe item}}
                        <a href="{{recipeUrl item}}">{{item.name}}</a>
                    {{else}}
                        {{item.name}}  {{foodAmount item}}
                    {{/if}}
                </li>
            {{/each}}
          </ul>
        </div>
        {{/each}}
    </div>
</template>