<template name="orderPage">
<div class="orderPage">
    <div class="row">
        <div class="col-md-8">
            {{>orderDetailsPart allowUpdates=true}}
        </div>
        <div class="col-md-4">
            <ul class="nav nav-tabs">
                {{#each tab in tabs}}
                <li role="presentation" class="component-tab {{#if isActiveTabTemplate tab.template}}active{{/if}}" data-template="{{tab.template}}"><a href="#">{{tab.name}}</a></li>
                {{/each}}
            </ul>
            <div class="panel panel-default">
                {{> Template.dynamic template=activeTabTemplate data=tabTemplateData}}
            </div>
        </div>
    </div>
</div>
</template>