<template name="recipesPage">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="panel panel-default">
            {{>recipesListPart enableSelection=true autoFocus=true}}
          </div>
        </div>
      </div>
      <div class="col-md-8">
        {{>recipeDetailsPart}}
      </div>
    </div>
</template>