<template name="recipeEditPage">
<div class="row">
    <div class="col-md-8">
        {{>recipeEditPart recipeId=recipeId}}
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="panel panel-default">
                {{>ingredientsListPart enableSelection=false enableDraggable=true}}
            </div>
        </div>
    </div>
</div>
</template>