<template name="shoppingListPage">
<div class="shoppingListPage">
    <div class="form">
        <div class="form-group order-controls">
            <button class="btn btn-primary order-print">
            <i class="fa fa-print"></i>
            &nbsp;&nbsp;Print
            </button>
        </div>
    </div>
    <div id="section-to-print">
        {{>shoppingListPart orderId=orderId}}
    </div>
</div>
</template>