{{#each categories}}
    <h4>{{name}}</h4>
    <ul>
        {{#each items}}
            <li>
                {{name}}
                {{#if amountText}}
                &nbsp;&nbsp;({{amountText}})
                {{/if}}
            </li>
        {{/each}}
    </ul>
{{/each}}