<template name="recipeViewDialog">
<div class="modal fade" id="recipeViewDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Recipe Details</h4>
                </div>
                <div class="modal-body">
                    {{> Template.dynamic template=activeRecipeTemplate data=activeRecipeTemplateData}}
                </div>
                <div class="modal-footer">
                    <a href="{{recipeUrl}}" class="btn btn-default" title="View this recipe on a new window." target="_blank">
                        <i class="fa fa-external-link"></i>
                        &nbsp;&nbsp;View
                    </a>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                        &nbsp;&nbsp;Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</template>