<template name="shoppingListDialog">
<div class="modal fade" id="shoppingListDialog" tabindex="-1" role="dialog" aria-labelledby="shoppingListDialogLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal">
                <div class="modal-header">
                    <div class="form-inline">
                        <div class="form-group modal-controls">
                            {{#if currentUser}}
                            <div class="input-group">
                                <input type="text" class="form-control email-to" placeholder="E-Mail Address">
                                <span class="input-group-btn" >
                                    <button class="btn btn-default shopping-list-email" title="Send shopping list by E-Mail.">
                                    <i class="fa fa-envelope"></i>
                                    &nbsp;&nbsp;E-Mail
                                    </button>
                                </span>
                            </div>
                            <a href="{{shoppingListUrl}}" class="btn btn-default" title="View this shopping list on a new window." target="_blank">
                                <i class="fa fa-external-link"></i>
                                &nbsp;&nbsp;View
                            </a>
                            {{/if}}
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                            &nbsp;&nbsp;Close
                            </button>
                        </div>
                    </div>

                </div>
                <div class="modal-body" id="section-to-print">
                     {{> Template.dynamic template=shoppingListTemplate data=shoppingListTemplateData}}
                </div>
                <div class="modal-footer">
                    <div class="form-inline">
                        <div class="form-group modal-controls">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                            &nbsp;&nbsp;Close
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</template>