/* Account for fixed navbar */
html {
  overflow-y: scroll;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
  /*min-width: 970px;*/
  background-color: rgb(220, 220, 220);
}

.login {
    margin-top: 12px;
    color: #dcdcdc;
}

.navbar-brand.logo {
    padding: 0 15px;
}

.navbar-brand.logo img {
    width: 52px;
}

.navbar-nav li.active div {
    position: absolute;
    bottom: -1px;
    background-color: rgb(220, 220, 220);
    width: 100%;
    height: 4px;
}

.centeredContent {
    padding-right: 25%;
}

/* Non-responsive overrides 
 * 
 * Utilitze the following CSS to disable the responsive-ness of the container, 
 * grid system, and navbar. 
 */ 
 
.content { 
  margin: 0 50px; 
} 
 
/* Reset the container */ 
.container { 
  max-width: none !important; 
  /*width: 970px;*/ 
} 
 
/* Demonstrate the grids */ 
.col-xs-4 { 
  padding-top: 15px; 
  padding-bottom: 15px; 
  background-color: #eee; 
  border: 1px solid #ddd; 
  background-color: rgba(86,61,124,.15); 
  border: 1px solid rgba(86,61,124,.2); 
} 

@media only screen and (max-device-width: 800px) {
  #login-buttons .login-display-name {
    display: none;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}