<template name="mainLayout">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand logo">
          <img src="/images/logo.png" />
        </div>

        <a class="navbar-brand" href="{{pathFor 'orders'}}">
          Lunch Time
        </a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {{#each route in navItems}}
          <li class="{{isSectionActive route}}">
            <a href="{{pathFor route.name}}">{{route.options.displayName}}</a>
            <div class="nav-focus"></div>
          </li>
          {{/each}}
          <li>
            <a href="http://blog.federicosilva.net/search/label/meteor.js" target="_blank">Blog</a>
          </li>
          <li>
            <a href="https://bitbucket.org/farmas/lunch-time" target="_blank">Source</a>
          </li>
        </ul>
        <div class="navbar-right login">
          {{> loginButtons}}
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
  <div class="container">
    {{>Template.dynamic template=content}}
  </div>
  <!--dialogs -->
  {{>recipeViewDialog}}
  {{>shoppingListDialog}}
</template>