.foodItemPart {

    .food-img {
        width: 80px;
        height: 80px;
        position: relative;
        top: 0;
        left: 0;
    }

    .food-item {
        float: left;
        text-align: center;
        width: 100px;
        height: 140px;
    }

    .food-item .food-action {
        display: block;
        color: black;
        position: absolute;
        top: 0;
        z-index: 1;
        width: 25px;
        background-color: white;
    }

    .food-item .food-action:nth-child(3) {
        top: 16px;
    }

    .food-item .food-action-view,
    .food-item .food-action-edit {
        right: -25px;
        transition: right 0.25s;
    }

    .food-image:hover .food-action-view,
    .food-image:hover .food-action-edit {
        right: 0;
        transition: right 0.25s;
    }

    .food-item .food-action-view:hover,
    .food-item .food-action-edit:hover {
        cursor: pointer;
        color: rgb(255, 255, 255);
        background-color: rgb(75, 110, 168);
    }

    .food-item .food-action-delete {
        left: -25px;
        transition: left 0.25s;
    }

    .food-image:hover .food-action-delete {
        left: 0;
        transition: left 0.25s;
    }

    .food-item .food-action-delete:hover {
        cursor: pointer;
        color: rgb(255, 255, 255);
        background-color: #d9534f;
    }

    .food-item p {
        margin-top: 10px;
        overflow: hidden;
        height: 40px;
    }

    .food-image {
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      width: 80px;
      height: 80px;
      text-align: center;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
      border: 1px solid transparent;
      border-color: #ccc;
      background-color: #fff;
      overflow: hidden;
      position: relative;
    }
}