<template name="foodItemPart">
    <div class="foodItemPart">
        <div class="food-item" data-id="{{food._id}}">
            <span class="food-image">
                {{#if allowUpdates}}
                <div class="food-action food-action-delete" title="Remove">
                    <i class="fa fa-times"></i>
                </div>
                {{/if}}
                {{#if $eq food.type 'recipe'}}
                <div class="food-action food-action-view" title="View Details">
                    <i class="fa fa-eye"></i>
                </div>
                {{/if}}
                {{#if allowUpdates}}
                {{#if recipeEditUrl}}
                <a class="food-action food-action-edit" href="{{recipeEditUrl}}" target="_blank" title="Edit recipe">
                    <i class="fa fa-pencil"></i>
                </a>
                {{else}}
                    {{#if isIngredient}}
                    <div class="food-action food-action-edit" title="Edit Ingredient">
                        <i class="fa fa-pencil"></i>
                    </div>
                    {{/if}}
                {{/if}}
                {{/if}}
                <img src="{{food.imageUrl}}" class="food-img" />
            </span>
            <p>{{food.name}} {{foodAmount food}}</p>
        </div>
    </div>
</template>