.ingredientsListPart {
    background-color: #dcdcdc;
    position: relative;

    .loading {
        padding: 10px;
        text-align: center;
        background-color: white;

        img {
            width: 25px;
        }
    }

    .filter-mine {
        float: right;
        position: absolute;
        right: 10px;
        top: -2px;
    }

    .list-group {
        margin: 0;
        position: relative;
    }

    .ingredient-item {
        overflow: auto;
        cursor: pointer;
    }

    .ingredient-item:hover {
        background-color: #E3E3E3;
    }

    .ingredient-img {
        float: left;
    }

    .ingredient-img img {
        width: 50px;
        height: 50px;
        background-color: white;
    }

    .ingredient-description {
        margin-right: 40px;
        margin-left: 60px;
    }

    .ingredient-author {
        font-style: italic;
        font-size: small;
        opacity: 0.5;
    }

    .ingredient-actions {
        float: right;
        position: relative;
        left: 15px;
    }

    .ingredient-action {
        width: 25px;
        height: 25px;
        padding-top: 2px;
        padding-left: 6px;
        border-radius: 50%;
        display: inline-block;
    }

    .ingredient-action:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(75, 110, 168);
    }
}