<template name="ingredientsListPart">
<div class="ingredientsListPart">
    {{#if currentUser}}
    <div class="checkbox filter-mine">
        <label>
            <input type="checkbox" class="ingredient-search-mine">
            Mine Only
        </label>
    </div>
    {{/if}}
    <input type="text" class="ingredient-search form-control" placeholder="Filter..."/>
    <ul class="list-group">
        {{#each ingredients}}
        <li class="list-group-item ingredient-item" data-id="{{_id}}" data-type="ingredient">
            <div class="ingredient-img">
                <img src="{{imageUrl}}" class="img-responsive img-circle" />
            </div>
            {{#if $eq userId currentUser._id}}
            <div class="ingredient-actions">
                <div class="ingredient-action ingredient-edit">
                    <i class="fa fa-pencil"></i>
                </div>
                <div class="ingredient-action ingredient-delete">
                    <i class="fa fa-trash-o"></i>
                </div>
            </div>
            {{/if}}
            <div class="ingredient-description">
                <span>{{name}}</span>
                {{#if userName}}
                <span class="ingredient-author">(by {{userName}})</span>
                {{/if}}
            </div>
        </li>
        {{/each}}
    </ul>
    {{#unless Template.subscriptionsReady}}
    <div class="loading">
        <img src="/images/loading.gif" />
    </div>
    {{else}}
    {{#unless hasAny}}
        <input type="text" readonly class="form-control" value="No ingredients found.">
    {{/unless}}
    {{#if hasMore}}
    <a href="#" class="btn btn-default btn-block ingredients-load-more">Load More</a>
    {{/if}}
    {{#if currentUser}}
    <a href="#" class="btn btn-block btn-primary ingredient-show">Add</a>
    {{/if}}
    {{/unless}}
    <div class="modal fade" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Ingredient</h4>
                    </div>
                    <div class="modal-body">
                        {{#if addIngredientError}}
                        <div class="alert alert-danger" role="alert">
                            {{addIngredientError}}
                        </div>
                        {{/if}}
                        <div class="form-group">
                            <input type="hidden" id="inputIngredientId">
                            <label for="inputIngredientName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputIngredientName" placeholder="Name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputIngredientCategory" class="col-sm-2 control-label">Category</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="inputIngredientCategory" placeholder="Category">
                                  {{#each category in categories}}
                                  <option value="{{category}}">{{category}}</option>
                                  {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputIngredientImageUrl" class="col-sm-2 control-label">Image Url</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputIngredientImageUrl" placeholder="Image Url">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary ingredient-save">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</template>