@import url("//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");

.orderDetailsPart {
    .dropzone.drop-active {
        border: 3px dashed rgb(75, 110, 168);
    }

    .order-controls {
        text-align: right;
    }

    .loading {
        text-align: center;
    }

    .instructions {
        text-align: center;
        font-style: italic;
        margin-top: 60px;
    }

    .food-list {
        padding-top: 10px;
        min-height: 140px;
    }

    .meal-draggable {
        position: absolute;
        z-index: 10;
        left: 15px;
        top: 10px;
    }

    .meal-list {
        list-style: none;
        font-family: 'Lato', sans-serif;
        margin: 0px;
        padding: 0px;
    }
    .meal-list > li {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px rgb(51, 51, 51);
        box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
        padding: 0px;
        margin: 0px 0px 20px;
    }
    .meal-list > li > img {
        width: 100%;
    }
    .meal-list > li > .info {
        padding-top: 5px;
        text-align: center;
        min-height: 180px;
    }
    .meal-list > li > .info > .title {
        font-size: 17pt;
        font-weight: 700;
        margin: 0px;
    }
    .meal-list > li > .info > .desc {
        font-size: 13pt;
        font-weight: 300;
        margin: 0px;
    }
    .meal-list > li > .info > ul,
    .meal-list > li > .actions > ul {
        display: table;
        list-style: none;
        margin: 10px 0px 0px;
        padding: 0px;
        width: 100%;
        text-align: center;
    }
    .meal-list > li > .actions > ul {
        margin: 0px;
    }
    .meal-list > li > .info > ul > li,
    .meal-list > li > .actions > ul > li {
        display: table-cell;
        cursor: pointer;
        color: rgb(30, 30, 30);
        font-size: 11pt;
        font-weight: 300;
        padding: 3px 0px;
    }
    .meal-list > li > .info > ul > li > a {
        display: block;
        width: 100%;
        color: rgb(30, 30, 30);
        text-decoration: none;
    }
    .meal-list > li > .actions > ul > li {
        padding: 0px;
    }
    .meal-list > li > .actions > ul > li > a {
        padding: 3px 0px;
    }
    .meal-list > li > .info > ul > li:hover,
    .meal-list > li > .actions > ul > li:hover {
        color: rgb(30, 30, 30);
        background-color: rgb(200, 200, 200);
    }
    .action a {
        display: block;
        width: 100%;
        color: rgb(75, 110, 168) !important;
    }
    .action:hover a {
        color: rgb(255, 255, 255) !important;
        background-color: rgb(75, 110, 168) !important;
    }

    @media (min-width: 768px) {
        .meal-list > li {
            position: relative;
            display: block;
            width: 100%;
            /* height: 200px; */
            padding: 0px;
        }
        .meal-list > li > img  {
            display: inline-block;
        }
        .meal-list > li > img {
            width: 120px;
            float: left;
        }
        .meal-list > li > .info {
            position: relative;
            text-align: left;
            padding-right: 40px;
            background-color: rgb(245, 245, 245);
            overflow: hidden;
            border-left: 50px solid rgb(197, 44, 102);
        }
        .meal-list > li:nth-child(even) > .info {
            border-left: 50px solid rgb(165, 82, 167);
        }
        .meal-list > li > img {
            width: 100px;
            padding: 0px;
            margin: 0px;
        }
        .meal-list > li > .info > .title,
        .meal-list > li > .info > .desc {
            padding: 0px 10px;
        }
        .meal-list > li > .info > ul {
            position: absolute;
            left: 0px;
            bottom: 0px;
        }
        .meal-list > li > .actions {
            position: absolute;
            top: 0px;
            right: 0px;
            display: block;
            width: 40px;
        }
        .meal-list > li > .actions > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
        .meal-list > li > .actions > ul > li {
            display: block;
            padding: 0px;
        }
        .meal-list > li > .actions > ul > li > a {
            display: block;
            width: 40px;
            padding: 10px 0px 9px;
        }
    }
}