<template name="orderDetailsPart">
<div class="orderDetailsPart">
    {{#unless Template.subscriptionsReady}}
        <div class="loading">
          <img src="/images/loading.gif" />
        </div>
    {{/unless}}
    {{#if Template.subscriptionsReady}}
    <div class="form">
        <div class="form-group order-controls">
            {{#if currentUser}}
            <a href="{{orderViewUrl}}" class="btn btn-default" title="View this order on a new window." target="_blank">
                <i class="fa fa-external-link"></i>
                &nbsp;&nbsp;Full View
            </a>
            <a href="{{orderMobileViewUrl}}" class="btn btn-default" title="View this order for mobile.">
                <i class="fa fa-mobile"></i>
                &nbsp;&nbsp;Mobile View
            </a>
            {{/if}}
            <button class="btn btn-primary order-process" title="Build a shopping list based on this order.">
            <i class="fa fa-shopping-cart"></i>
            &nbsp;&nbsp;Shopping List
            </button>
        </div>
    </div>
    {{/if}}
    <ul class="meal-list">
        {{#each meal in meals}}
        <li class="meal dropzone" data-id="{{meal._id}}">
            {{#if currentUser}}
                <div class="meal-draggable">
                    <i class="fa fa-bars"></i>
                </div>
            {{/if}}
            <div class="info">
                <h2 class="title">
                {{#if isAuthorizedToUpdateMeal}}
                <input type="text" class="meal-name form-control" value="{{meal.name}}" />
                {{else}}
                <input type="text" class="meal-name form-control" value="{{meal.name}}" disabled />
                {{/if}}
                </h2>
                <div class="food-list">
                    {{#if $eq meal.items.length 0}}
                    <div class="instructions">Drag recipes and/or ingredients</div>
                    {{/if}}
                    {{#each item in meal.items}}
                    {{> foodItemPart mealId=meal._id userId=meal.userId food=item allowUpdates=isAuthorizedToUpdateMeal}}
                    {{/each}}
                </div>
            </div>
            <div class="actions">
                <ul>
                    {{#if canDeleteMeal}}
                    <li class="action" style="width:33%;">
                        <a href="#" class="remove-meal" title="Remove Meal"><span class="fa fa-times"></span></a>
                    </li>
                    <li class="action">
                        <a href="#" class="add-placeholder" title="Add an item not included in shopping list."><span class="fa fa-plus"></span></a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </li>
        {{/each}}
    </ul>
    {{#if Template.subscriptionsReady}}
    <a href="#" class="add-meal">Add Meal</a>
    {{/if}}
    <div class="modal fade" id="mealIngredientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="hidden" class="meal-id" />
                                    <input type="hidden" class="ingredient-id" />
                                    <p class="form-control-static ingredient-name"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Quantity</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control ingredient-quantity" placeholder="Quantity">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Measurement</label>
                                <div class="col-sm-10">
                                    <select class="form-control ingredient-type">
                                        <option value=""></option>
                                        {{#each measurement in measurementTypes}}
                                        <option value="{{measurement}}">{{measurement}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                            &nbsp;&nbsp;Close
                        </button>
                        <button type="button" class="btn btn-primary ingredient-save">
                        <i class="fa fa-save"></i>
                        &nbsp;&nbsp;Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</template>