.recipesListPart {
    background-color: #dcdcdc;

    .loading {
        padding: 10px;
        text-align: center;
        background-color: white;

        img {
            width: 25px;
        }
    }

    .list-group {
        margin: 0;
        position: relative;
    }

    .recipe-item {
        overflow: auto;
        cursor: pointer;
    }

    .recipe-edit {
        display: block;
        color: black;
    }

    .recipe-item:hover {
        background-color: #E3E3E3;
    }

    .recipe-item.selected {
        background-color: #C9C9C9;
    }

    .recipe-img {
        float: left;
    }

    .recipe-img img {
        width: 50px;
        height: 50px;
        background-color: white;
    }

    .recipe-description {
        margin-right: 40px;
        margin-left: 60px;
    }

    .recipe-author {
        font-style: italic;
        font-size: small;
        opacity: 0.5;
    }

    .recipe-actions {
        float: right;
        position: relative;
        left: 15px;
    }

    .recipe-action {
        width: 25px;
        height: 25px;
        padding-top: 2px;
        padding-left: 6px;
        border-radius: 50%;
        display: inline-block;
    }

    .recipe-action:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(75, 110, 168);
    }
}