<template name="recipesListPart">
    <div class="recipesListPart">
        <input type="text" class="recipe-search form-control" placeholder="Filter..."/>
      <ul class="list-group">
        {{#each recipe in recipes}}
          <li class="list-group-item recipe-item {{#if isSelected recipe}}selected{{/if}}" data-id="{{recipe._id}}" data-type="recipe">
            <div class="recipe-img">
                <img src="{{recipe.imageUrl}}" class="img-responsive img-circle" />
            </div>
            <div class="recipe-actions">
                {{#if canViewDetails}}
                <div class="recipe-action recipe-view">
                    <i class="fa fa-eye"></i>
                </div>
                {{/if}}
                {{#if $eq recipe.userId currentUser._id}}
                <a class="recipe-action recipe-edit" href="{{recipeEditUrl recipe}}" target="_blank">
                    <i class="fa fa-pencil"></i>
                </a>
                <div class="recipe-action recipe-delete">
                    <i class="fa fa-trash-o"></i>
                </div>
                {{/if}}
            </div>
            <div class="recipe-description">
                <span class="name">{{recipe.name}}</span>
                {{#if recipe.userName}}
                    <span class="recipe-author">(by {{recipe.userName}})</span>
                {{/if}}
            </div>

          </li>
        {{/each}}
      </ul>

      {{#unless Template.subscriptionsReady}}
        <div class="loading">
          <img src="/images/loading.gif" />
        </div>
      {{else}}
        {{#unless hasAny}}
          <input type="text" readonly class="form-control" value="No recipes found.">
        {{/unless}}
        {{#if hasMore}}
          <a href="#" class="btn btn-default btn-block recipes-load-more">Load More</a>
        {{/if}}
        {{#if currentUser}}
        <a href="#" class="btn btn-block btn-primary recipe-add">New</a>
        {{/if}}
      {{/unless}}
    </div>
</template>