.recipeEditPart {
    .list-item-handle {
        cursor: pointer;
    }

    .input-group-btn span {
        margin-left: 5px;
    }

    .directions-list,
    .ingredients-list {
        margin-bottom: 0;

        .list-group-item {
            border: 0;
        }
    }

    .ingredients-content {
        min-height: 60px;
        background: white;
    }

    .ingredients-empty {
        text-align: center;
        font-style: italic;
        padding-top: 20px;
    }

    .ingredients-content.drop-active {
        border: 3px dashed rgb(75, 110, 168);
    }

    .ingredients-content.drop-target {
        background-color: rgba(75, 110, 168, 0.5);
        border: 3px solid rgb(75, 110, 168);
    }

    .ingredient-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .ingredient-amount {
        width: 60px;
    }

    .ingredient-group-name {
        width: 65%;
    }

    .ingredient-name {
        width: 100%;
    }

    .ingredient-remove:hover {
        cursor: pointer;
    }

    .recipe-controls {
        text-align: right;
    }

    .list-group-item.gu-transit {
        background-color: rgba(75, 110, 168, 0.5);
    }
}