.recipeDetailsPart {
    .recipe-reference {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .recipe-image {
        width: 130px;
    }

    .ingredient-measurement,
    .step-number {
        font-weight: bold;
    }
}