<template name="recipeDetailsPart">
<div class="recipeDetailsPart">
    {{#if recipe}}
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{recipe.name}}" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Author</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{recipe.author}}" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Reference</label>
                    <div class="col-sm-10">
                        <a class="form-control recipe-reference" href="{{recipe.sourceUrl}}">{{recipe.sourceUrl}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <a href="{{recipe.imageUrl}}" target="_blank" title="Recipe Image">
                    <img class="recipe-image" src="{{recipe.imageUrl}}" />
                </a>
            </div>
        </div>
    </div>
    <div class="form">
        <div class="form-group">
            <label>Ingredients</label>
            <ul class="list-group">
                {{#each ingredient in recipe.ingredients}}
                <li class="list-group-item">
                    <span class="ingredient-measurement">{{formatMeasurement ingredient}}</span>
                    <span class="ingredient-name">{{ingredient.name}}</span>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="form-group">
            <label>Directions</label>
            <ul class="list-group">
                {{#each direction in recipe.directions}}
                <li class="list-group-item">
                    <span class="step-number">{{increment @index}}. </span>
                    {{direction}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{/if}}
</div>
</template>