<template name="recipeEditPart">
<div class="recipeEditPart">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-8">
                {{#if exists}}
                <button class="btn btn-danger recipe-delete">Delete</button>
                {{/if}}
            </div>
            <div class="col-md-4 recipe-controls">
                <button class="btn btn-primary recipe-update" data-bind="click: update">Save</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Name" data-bind="textInput: name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Author</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Author" data-bind="textInput: author">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Reference</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Source Url" data-bind="textInput: sourceUrl">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Image</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Image Url" data-bind="textInput: imageUrl">
            </div>
        </div>
    </div>
    <div class="form">
        <div class="form-group">
            <label>Ingredients</label>
            <div class="ingredients-content">
                <div class="ingredients-empty" data-bind="visible: !ingredients().length">
                    Drag ingredients
                </div>
                <ul class="list-group ingredients-list" data-bind="foreach: ingredients">
                    <li class="list-group-item">
                        <div class="ingredient-group list-item-handle">
                            <div class="btn btn-default">
                                <i class="fa fa-bars"></i>
                            </div>
                        </div>
                        <div class="ingredient-group">
                            <input type="text" class="form-control ingredient-amount" data-bind="textInput: measurement" placeholder="Qty">
                        </div>
                        <div class="ingredient-group">
                            <select class="form-control ingredient-type" data-bind="options: $parent.measurementTypes, optionsCaption: '', value: measurementType">
                            </select>
                        </div>
                        <div class="ingredient-group ingredient-group-name">
                            <div class="input-group">
                                <input type="text" class="form-control ingredient-name" data-bind="textInput: name">
                                <div class="input-group-addon ingredient-remove" data-bind="click: $parent.removeIngredient">
                                    <i class="fa fa-trash-o"></i>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label>Directions</label>
            <ul class="list-group directions-list" data-bind="foreach: directions">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group">
                                <span class="input-group-btn list-item-handle">
                                    <span class="btn btn-default">
                                        <i class="fa fa-bars"></i>
                                        <span data-bind="text: ($index() + 1) + '.'"></span>
                                    </span>
                                </span>
                                <input type="text" class="form-control" data-bind="textInput: text">
                                <span class="input-group-btn">
                                    <button class="btn" data-bind="click: $parent.removeStep">
                                    <i class="fa fa-trash-o"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <form class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" class="form-control step-add" placeholder="Describe cooking step">
                        <span class="input-group-btn list-item-handle">
                            <button class="btn btn-default" data-bind="click: addStep">Add</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{#if exists}}
            <button class="btn btn-danger recipe-delete">Delete</button>
            {{/if}}
        </div>
        <div class="col-md-4 recipe-controls">
            <button class="btn btn-primary recipe-update" data-bind="click: update">Save</button>
        </div>
    </div>
</div>
</template>