<template name="shoppingListPart">
    <div class="shoppingListPart">
        {{#unless shoppingList }}
        <div class="loading">
            <img src="/images/loading.gif" />
        </div>
        {{else}}
            {{#unless shoppingList.categories.length}}
            <p>
                No ingredients found.
            </p>
            {{/unless}}
        {{/unless}}
        {{#each category in shoppingList.categories}}
            <h4>{{category.name}}</h4>
            <ul class="list-group">
                {{#each ingredient in category.items}}
                <li class="list-group-item">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="" />
                        {{ingredient.name}}
                        &nbsp;&nbsp;
                        {{#if ingredient.amountText}}
                        ({{ingredient.amountText}})
                        {{/if}}
                      </label>
                    </div>
                </li>
                {{/each}}
            </ul>
        {{/each}}

        {{#if shoppingList.lostIngredients.length}}
        <h4 class="deleted-item">
            <li class="fa fa-exclamation-triangle"></li>
            Deleted Ingredients
        </h4>
        <ul class="list-group">
            {{#each shoppingList.lostIngredients}}
            <li class="list-group-item">
                {{name}}
            </li>
            {{/each}}
        </ul>
        {{/if}}

        {{#if shoppingList.lostRecipes.length}}
        <h4 class="deleted-item">
            <li class="fa fa-exclamation-triangle"></li>
            Deleted Recipes
        </h4>
        <ul class="list-group">
            {{#each shoppingList.lostRecipes}}
            <li class="list-group-item">
                {{name}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</template>